.titleId {
  padding: 20px 30px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #ccc;
}
.range {
  padding: 20px 30px;
  background-color: rgb(237, 237, 237);
}
.center {
  padding: 30px;
  padding-top: 0px;
  position: relative;
}
.center .title {
  border-bottom: 2px solid rgb(27, 172, 5);
  padding: 14px;
  margin: 10px -7px;
}
.center .list {
  height: 40px;
  padding: 10px 0;
  line-height: 40px;
  margin-bottom: 40px;
  position: relative;
}
.center .listName {
  margin-right: 90px;
  margin-top: 10px;
}
.center .list select {
  height: 40px;
  position: absolute;
  left: 150px;
  padding: 0 10px;
  width: 150px;
}
.center .list .test {
  height: 40px;
  position: absolute;
  left: 150px;
  padding: 0 10px;
}
.sex {
  position: absolute;
  left: 150px;
}
.sex input {
  margin-left: 10px;
}
.benefit {
  text-align: center;
}
.benefit {
  margin: 30px 0;
  font-size: 14px;
}
.time {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.but {
  width: 300px;
  height: 45px;
  margin: auto;
  line-height: 45px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
}

.more {
  background-color: rgb(27, 172, 5);
}
.exit {
  background-color: rgb(157, 160, 157);
}
.cardid {
  color: orange;
  margin-left: 20px;
}
.demo {
  position: relative;
}
.demoBox {
  color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 8px 8px 20px;
}

.demoBox > p {
  padding-top: 10px;
}

.demoBox > ol {
  padding-top: 15px;
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}

.demoBox > ol > li {
  padding-top: 10px;
  margin-left: 7%;
}

.demoBox > ol > li > span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  display: block;
}

.demo {
  height: 35px;
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

.demo > input {
  display: block;
  border: 0;
  border-radius: 3px;
  padding: 0 8px;
  height: 100%;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  font-size: 14px;
}

.demo > button {
  background-color: #00c599;
  color: #fff;
  border: 0;
  height: 100%;
  margin-left: 8px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 14px;
}
.check2 {
  color: red;
  position: absolute;
  bottom: -40px;
  font-size: 14px;
  left: 10px;
}
.check3 {
  color: red;
  position: absolute;
  bottom: -10px;
  font-size: 14px;
  left: 10px;
}
.idTrue {
  color: #008000;
}
