* {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(239, 239, 244);
}
.title {
  background-color: rgb(240, 239, 245);
  padding: 20px;
}

.content li {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.content li:nth-child(2n) {
  background-color: rgb(247, 247, 247);
}
.content li:nth-child(2n + 1) {
  background-color: rgb(237, 237, 237);
}
.money {
  color: orange;
}
.person {
  position: relative;
}
.sort {
  display: flex;
  width: 250px;
  margin: 30px auto;
  justify-content: space-between;
}
.sort li {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 60px;
  display: flex;
  border-radius: 15px;
  color: rgb(26, 171, 4);
}
.sort li:hover >p:nth-child(1){
  background-color: rgb(26, 171, 4);
}
.sort li>p{
  margin: auto;
  background-color: #fff;
}

.sort li .hide {
  position: absolute;
  right: 0;
  left: 0;
  top: 40px;
  height: 100px;
  color: #000000;
  padding: 20px;
}
.hide1{
  z-index: 111;
}
.hide2{
  display: none;
  z-index: 111;
}
.sort li:hover{
  background-color:  rgb(26, 171, 4);
  color: #fff;
}
.sort li:hover .hide2{
  display: block;
  
}
.hide p{
  margin-bottom: 30px;
}
.hide p span{
  position: absolute;
  left:150px;
}
.but {
  width: 300px;
  height: 45px;
  margin: auto;
  line-height: 45px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  color:#fff
}

.more {
  background-color: rgb(27, 172, 5);
  margin-top: 450px;
}
.exit {
  background-color: rgb(157, 160, 157);
}
